@font-face {
  font-family: "Candara";
  src: url("fonts/Candara.ttf");
}

@font-face {
  font-family: "Garamond";
  src: url("fonts/Garamond.ttf");
}

html * {
  font-family: Candara;
}

p {
  font-size: 20px;
  text-align: justify;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-heading {
  color: darkgreen;
  font-family: Garamond;
  font-size: 64px;
  margin-bottom: 0;
}

.nav-subheading {
  color: #303030;
  margin-bottom: 32px;
  font-family: cursive;
  font-size: 32px;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.nav-element {
  text-decoration: none;
  font-size: 20px;
  color: #303030;
  box-sizing: border-box;
  height: 24px;
}

.nav-element:hover {
  border-bottom: 1px solid;
}

.nav-element:not(:last-child) {
  margin-right: 16px;
}

.nav-separator {
  display: inline-block;
  height: 12px;
  border-right: 1px solid darkgreen;
  margin-right: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 620px;
}

.about-heading {
  font-size: 40px;
}

.horizontal-line {
  width: 100px;
  border-top: 1px solid darkgray;
  margin-bottom: 20px;
}

.yoga-table {
  width: 100%;
}

.cours-heading {
  font-size: 40px;
}

.yoga-type-heading {
  text-align: center;
}
