/* Fonts */

@font-face {
  font-family: "Calibri Light";
  src: url("fonts/Calibri Light.ttf");
}

@font-face {
  font-family: "Garamond";
  src: url("fonts/Garamond.ttf");
}

/* General */

html * {
  font-size: 100%;
  font-family: "Calibri Light";
}

@media (min-width: 1200px) {
  html {
    font-size: 150%;
  }
}

img {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0.3)
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0) 90%,
        rgba(255, 255, 255, 1)
      ),
      url("img/background-trees.jpg");
    background-repeat: no-repeat;
  }
}

.content {
  max-width: 800px;
  padding: 1rem;
  background: white;
}

/* Header */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-heading {
  color: darkgreen;
  font-family: Garamond;
  font-size: 2rem;
  margin-bottom: 0;
}

.header-subheading {
  color: #303030;
  margin-bottom: 32px;
  font-family: cursive;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.nav-element {
  text-decoration: none;
  font-size: 0.8rem;
  color: #303030;
  box-sizing: border-box;
  height: 1rem;
}

.nav-element:hover {
  border-bottom: 1px solid;
}

.nav-element:not(:last-child) {
  margin-right: 0.8rem;
}

.nav-separator {
  display: inline-block;
  height: 12px;
  border-right: 1px solid darkgreen;
  margin-right: 0.8rem;
}

.horizontal-line {
  width: 100px;
  border-top: 1px solid darkgray;
  margin-bottom: 20px;
}

/* Index */

.about-heading {
  font-size: 1.5rem;
}

.description {
  text-align: justify;
}

/* Cours */

.cours-heading {
  font-size: 1.5rem;
}

.yoga-table {
  width: 100%;
}

td > p {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 0.8rem;
  /* border-right: 1px solid; */
}

/* Footer */

.footer-container {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 8px;
}
